* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background: rgb(35, 35, 35);
  background: linear-gradient(rgb(68, 68, 68), rgb(24, 24, 24));
  transition: 0.5s;

  font-family: sans-serif;

  transition: 0.5s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-white {
  background: linear-gradient(rgb(212, 212, 212), rgb(153, 153, 153));

  transition: 0.5s;
}

div {
  margin-bottom: 400px;
}
h2 {
  margin-bottom: 80px;
}

.h2-dark {
  color: white;
  border-bottom: 3px solid white;
}
.h2-white {
  color: black;
  border-bottom: 3px solid black;
}

button {
  background: white;
  color: black;
  font-size: 60px;

  width: 250px;
  height: 100px;

  border-radius: 50px;

  margin-left: 25px;
}
@media (min-width: 1600px) {
  cursor: pointer;
}
.dark-mode {
  border: 5px solid rgb(212, 208, 208);
  background: black;
  color: white;

  transition: 0.5s;
}
.white-mode {
  background: white;
  color: black;
  border: 5px solid rgb(26, 25, 25);

  transition: 0.5s;
}
.dark-mode i {
  position: relative;
  left: 80px;
}
.white-mode i {
  position: relative;
  right: 80px;
}
